---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot/>
		
	</body>
</html>

<style is:global>
	@import "tailwindcss";

	@theme {
		--font-sans: "Montserrat", system-ui, sans-serif;
	}
	html,
	body {
		height: 300vh;
		overflow-x: hidden;
		overscroll-behavior: none;
	}

	@font-face {
		font-family: "Montserrat";
		src: url("@/assets/fonts/Montserrat-wght.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>